@model ClienteModel
@{
    ViewData["Title"] = "Editar Cliente";
}

<div class="container mt-5">
    <div class="card">
        <form asp-asp-controller="Cliente" asp-action="Alterar" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="card-header">
                <h4 class="fw-bold">Editar Cliente</h4>
            </div>

            <div class="card-body">
                <p style="font-weight:500">Dados Básicos:</p>

                <div class="mb-3">
                    <label for="Nome" class="form-label">Nome completo</label><span id="spanRequired"> *</span>
                    <input type="text" class="form-control" asp-for="Nome" />
                    @Html.ValidationMessageFor(x => x.Nome)
                </div>

                <div class="mb-3">
                    <label for="DataDeNascimento" class="form-label">Data de nascimento</label><span id="spanRequired"> *</span>
                    <input type="date" class="form-control" asp-for="DataDeNascimento" />
                    @Html.ValidationMessageFor(x => x.DataDeNascimento)
                </div>

                <div class="mb-3">
                    <label for="RG" class="form-label">RG</label><span id="spanRequired"> *</span>
                    <input type="number" class="form-control" asp-for="RG" />
                    @Html.ValidationMessageFor(x => x.RG)
                </div>

                <div class="mb-3">
                    <label for="CPF" class="form-label">CPF</label><span id="spanRequired"> *</span>
                    <input type="number" class="form-control" asp-for="CPF" />
                    @Html.ValidationMessageFor(x => x.CPF)
                </div>

                <div class="mb-3">
                    <label for="Celular" class="form-label">Celular</label><span id="spanRequired"> *</span>
                    <input type="tel" class="form-control" asp-for="Celular" />
                    @Html.ValidationMessageFor(x => x.Celular)
                </div>

                <div class="mb-3">
                    <label for="TelefoneResidencial" class="form-label">Telefone Residencial</label>
                    <input type="tel" class="form-control" asp-for="TelefoneResidencial" />
                </div>

                <div class="mb-3">
                    <label for="TelefoneComercial" class="form-label">Telefone Comercial</label>
                    <input type="tel" class="form-control" asp-for="TelefoneComercial" />
                </div>

                <br />

                <p style="font-weight:500">Endereço principal:</p>

                <div class="mb-3">
                    <label for="Rua" class="form-label">Rua</label><span id="spanRequired"> *</span>
                    <input type="text" class="form-control" asp-for="Rua" />
                    @Html.ValidationMessageFor(x => x.Rua)
                </div>

                <div class="row">
                    <div class="col-md-6 mb-4 mb-md-0">
                        <div class="mb-3">
                            <label for="Cidade" class="form-label">Cidade</label><span id="spanRequired"> *</span>
                            <input type="text" class="form-control" asp-for="Cidade" />
                            @Html.ValidationMessageFor(x => x.Cidade)
                        </div>
                    </div>

                    <div class="col-md-6 mb-4 mb-md-0">
                        <label for="Estado" class="form-label">Estado</label><span id="spanRequired"> *</span>
                        <select class="form-select mb-3" asp-for="Estado">
                            <option selected></option>
                            <option value="São Paulo">São Paulo</option>
                            <option value="Rio de Janeiro">Rio de Janeiro</option>
                        </select>
                        @Html.ValidationMessageFor(x => x.Estado)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-4 mb-md-0">
                        <div class="mb-3">
                            <label for="Cep" class="form-label">CEP</label><span id="spanRequired"> *</span>
                            <input type="text" class="form-control" asp-for="Cep" />
                            @Html.ValidationMessageFor(x => x.Cep)
                        </div>
                    </div>

                    <div class="col-md-6 mb-4 mb-md-0">
                        <div class="mb-3">
                            <label for="Bairro" class="form-label">Bairro</label><span id="spanRequired"> *</span>
                            <input type="text" class="form-control" asp-for="Bairro" />
                            @Html.ValidationMessageFor(x => x.Bairro)
                        </div>
                    </div>
                </div>

                <br />

                <p style="font-weight:500">Endereço alternativo:</p>

                <div class="mb-3">
                    <label for="RuaSec" class="form-label">Rua</label>
                    <input type="text" class="form-control" asp-for="RuaSec" />
                </div>

                <div class="row">
                    <div class="col-md-6 mb-4 mb-md-0">
                        <div class="mb-3">
                            <label for="CidadeSec" class="form-label">Cidade</label>
                            <input type="text" class="form-control" asp-for="CidadeSec" />
                        </div>
                    </div>

                    <div class="col-md-6 mb-4 mb-md-0">
                        <label for="EstadoSec" class="form-label">Estado</label>
                        <select class="form-select mb-3" asp-for="EstadoSec">
                            <option selected></option>
                            <option value="São Paulo">São Paulo</option>
                            <option value="Rio de Janeiro">Rio de Janeiro</option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-4 mb-md-0">
                        <div class="mb-3">
                            <label for="CepSec" class="form-label">CEP</label>
                            <input type="text" class="form-control" asp-for="CepSec" />
                        </div>
                    </div>

                    <div class="col-md-6 mb-4 mb-md-0">
                        <div class="mb-3">
                            <label for="BairroSec" class="form-label">Bairro</label>
                            <input type="text" class="form-control" asp-for="BairroSec" />
                        </div>
                    </div>
                </div>

                <br />

                <p style="font-weight:500">Redes sociais:</p>

                <div class="row">
                    <div class="col-md-6 mb-4 mb-md-0">
                        <div class="mb-3">
                            <label for="Facebook" class="form-label">Facebook</label>
                            <input type="url" class="form-control" asp-for="Facebook" />
                            @Html.ValidationMessageFor(x => x.Facebook)
                        </div>
                    </div>

                    <div class="col-md-6 mb-4 mb-md-0">
                        <div class="mb-3">
                            <label for="Linkedin" class="form-label">Linkedin</label>
                            <input type="url" class="form-control" asp-for="Linkedin" />
                            @Html.ValidationMessageFor(x => x.Linkedin)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-4 mb-md-0">
                        <div class="mb-3">
                            <label for="Instagram" class="form-label">Instagram</label>
                            <input type="url" class="form-control" asp-for="Instagram" />
                            @Html.ValidationMessageFor(x => x.Instagram)
                        </div>
                    </div>

                    <div class="col-md-6 mb-4 mb-md-0">
                        <div class="mb-3">
                            <label for="Twitter" class="form-label">Twitter</label>
                            <input type="url" class="form-control" asp-for="Twitter" />
                            @Html.ValidationMessageFor(x => x.Twitter)
                        </div>
                    </div>
                </div>
            </div>

            <!-- Card footer -->
            <div class="card-footer">
                <button class="btn btn-danger" asp-controller="Cliente" asp-action="Index">Cancelar</button>
                <button type="submit" class="btn btn-primary">Alterar</button>
            </div>
        </form>
    </div>
</div>